body {
    background-image: url("../img/luna.jpg");
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    width: 130px;
    height: 80px;
    position: absolute;
    right: 0px;
    top: 0px;
    text-align: center;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1px;
    text-decoration: none;
}
li a:hover {
    background-color: #666666;
}
#datos {
    background-color: green;
    color: white;
    position: absolute;
    width: 100px;
    height: 105px;
    left: 0px;
    top: 0px;
}
#datos2 {
    background-color: green;
    color: black;
    position: absolute;
    width: 100px;
    height: 105px;
    left: 100px;
    top: 0px;
}
#cohete {
    text-align: center;
}
.fotocohete {
    height: 100px;
    width: 40px;
}
#landzone {
    right: 0px;
}
.aterriza {
    position: fixed;
    bottom: 0;
    right: 0px;
}
a:link,
a:visited,
a:hover,
a:active {
    color: white;
    text-decoration: none;
}